* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(57, 45, 45);
}
.box {
  overflow-y: scroll;
  width: 35vw;
  height: 75vh;
  border: 5px double white;
  border-radius: 25px;
  background-color: lightslategray;
}
/* width */
::-webkit-scrollbar {
  width: 0;
}

.box h1 {
  color: white;
  text-align: center;
  width: 35vw;
  height: 4rem;
  font-size: 3rem;
  background-color: brown;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: 10px solid white;
}
.inputField {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box input {
  padding: 10px 15px;
  margin-top: 30px;
  width: 70%;
  font-size: 2.5rem;
}
.box button {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  padding: 5px;
  margin-top: 35px;
  font-size: 2rem;
  transition: all 0.1s;
}
.box button:hover {
  background-color: orange;
  color: white;
  border: 5px solid black;
}
.box ol {
  position: relative;
  top: 25px;
  left: 60px;
}
.box ol li {
  font-size: 2rem;
  color: white;
  list-style: none;
}
.listClass {
  margin-left: -45px;
  height: 2.5rem;
  display: flex;
}
.listClass button {
  position: relative;
  top: -25px;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}

.listClass button:hover {
  background-color: red;
}
.listClass li {
  margin-left: 10px;
}

@media (max-width: 950px) {
  .box {
    width: 45vw;
    height: 55vh;
    border: 3px double white;
    border-radius: 25px;
  }
  .box h1 {
    width: 45vw;
    height: 3rem;
    font-size: 2rem;
  }
  .box input {
    padding: 5px 10px;
    margin-top: 20px;
    width: 70%;
    height: 3rem;
    font-size: 2rem;
  }
  .box button {
    width: 3rem;
    height: 3rem;
    margin-top: 30px;
  }
  .listClass button {
    top: -20px;
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media (max-width: 600px) {
  .box input {
    width: 60%;
    height: 2.5rem;
    font-size: 1.5rem;
  }
  .box button {
    width: 3rem;
    height: 3rem;
    margin-top: 20px;
  }
  .listClass button {
    top: -10px;
    width: 1.5rem;
    height: 1.5rem;
    padding-bottom: 25px;
  }
}
