* {
  margin: 0;
  padding: 0;
}
body {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.container {
  padding: 25px 50px;
  width: 25vw;
  height: 55vh;
  border: 2px solid black;
  background-color: brown;
}
.item {
  width: 25vw;
  height: 55vh;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  height: 25vh;
  width: 0;
}
.container h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
}
.inputAndBtn {
  display: flex;
  justify-content: space-around;
}
.inputAndBtn button {
  font-size: 2rem;
  padding: 3px 6px;
  border-radius: 50%;
  transition: all 0.2s;
}
.inputAndBtn button:hover {
  background-color: green;
  border-radius: 10px solid white;
}
.container input {
  width: 80%;
  font-size: 2rem;
  padding: 5px 10px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 10px;
}
.list .btnGroup {
  /* border: 2px solid black;
  height: 3rem; */
  width: 5rem;
  position: relative;
  bottom: 2rem;
  left: 16rem;
  display: flex;
  justify-content: space-around;
}
.list .btnGroup button {
  font-size: 1rem;
  padding: 3px 6px;
  margin: 0 5px;
  border-radius: 20px;
  transition: all 0.2s;
}
.list .btnGroup button:hover {
  background-color: red;
  border-radius: 10px solid white;
}
.list li {
  list-style: none;
  font-size: 1.5rem;
  padding: 2px 4px;
  border: 2px solid gray;
}
.delBtn {
  display: flex;
  justify-content: center;
}
.delBtn button {
  font-size: 2rem;
  padding: 3px 6px;

  transition: all 0.2s;
}
.delBtn button:hover {
  background-color: gray;
  border-radius: 15px;
}
